[run]
source = em_workflows
omit =
    # Omit test code
    test/*,
    setup.py,
    # Coverage wants to check adoc files for some reason
    *.adoc,
    # Some *.py files show up in temp directories
    */tmp/*
