pytest
coverage
pytest-env
python-dotenv
pytest-cov
coverage-badge
prefect==2.*
prefect_dask
dask
distributed
dask-jobqueue
natsort
pytools@https://github.com/niaid/tomojs-pytools/releases/download/v3.0/pytools-3.0-py3-none-any.whl
pre-commit
