[Unit]
Description=Starts the QA listener "Agent" which reaches out to workflow API.
After=network.target

[Service]
Type=simple
ExecStart=/gs1/home/macmenaminpe/code/hedwig/qa/image_portal_workflows/helper_scripts/hedwig_reg_listen.sh qa listen

[Install]
WantedBy=multi-user.target
