[Unit]
Description=Starts the DEV listener "Worker" which reaches out to workflow API.
After=network.target

[Service]
Type=simple
User=hedwig_dev
Group=hedwig_dev
EnvironmentFile=/gs1/home/hedwig_dev/.service.env
WorkingDirectory=/gs1/home/hedwig_dev/image_portal_workflows
ExecStart=/gs1/home/hedwig_dev/image_portal_workflows/helper_scripts/hedwig_reg_listen.sh listen
Restart=always
RestartSec="30min"

[Install]
WantedBy=multi-user.target
